@using Sandbox;
@using Sandbox.UI;
@using System.ComponentModel.DataAnnotations
@using System.IO
@inherits PanelComponent
@namespace Sandbox

<root>
    @switch (currentScreen)
    {
        case Screen.Menu:
        <div class="menu">
            <div class="options slide-in-up">
                <img class="logo" src="images/logo.png" alt="logo" />
                <button class="pulse delay-5 anim-loop anim-slow" onclick="@(() => SwitchScreen(Screen.Character))">Start Game</button>
            </div>
        </div>
        break;

        case Screen.Character:
            <div class="menu">
                @if (CurrentCharacter != null)
                {
                    <PlayerCard 
                    PlayerName="@CurrentCharacter.FirstName  @CurrentCharacter.LastName"
                    PlayerRank="@CurrentCharacter.Rank"
                    PlayerCash="@CurrentCharacter.Cash"
                    PlayerBank="@CurrentCharacter.Bank"
                    class="slide-in-up"
                    onclick="@(() => LoadCharacter())"
                    />
                }
                else
                {
                    <div class="no-character">
                        <h1>No character found!</h1>
                        <button class="button pink" onclick="@(() => SwitchScreen(Screen.Create))">Create Character</button>
                    </div>
                }
            </div>

        break;

        case Screen.Create:
            <div class="menu">
                <div class="create-container slide-in-up">
                    <div class="header">
                        <div class="title">Create Character</div>
                        <div class="sub-title">Enter Information</div>
                    </div>
                        <TextEntry class="text-entry" style="min-width: 300px;" Placeholder="First Name..." MaxLength="@(12)" @ref="FirstNameEntry"/>
                        <TextEntry class="text-entry" style="min-width: 300px;" Placeholder="Last Name..." MaxLength="@(12)" @ref="LastNameEntry"/>
                        <NumberEntry class="text-entry" style="min-width: 300px;" Placeholder="Age..." MaxLength="@(2)" @ref="AgeEntry" />
                        <DropDown class="drop-down" Options="@GenderOptions" Value="@DefaultGender" @ref="GenderEntry" />
                        <button class="create-btn button" onclick="@(() => CreateCharacter())">Create</button>
                </div>
            </div>
        break;
    }
</root>

@code
{
    public enum Screen
    {
        Menu,
        Character,
        Create
    }

    private Screen currentScreen = Screen.Menu;
    private TextEntry FirstNameEntry { get; set; }
    private TextEntry LastNameEntry { get; set; }
    private NumberEntry AgeEntry { get; set; }
    private DropDown GenderEntry { get; set; }
    private PlayerData CurrentCharacter {get; set;}

    private string DefaultGender = "Male";
    private List<Option> GenderOptions = new()
    {
        new Option {Title = "Male", Value = "Male"},
        new Option {Title = "Female", Value = "Female"}
    };
    

    protected override void OnStart()
    {
        CurrentCharacter = PlayerData.Load(Game.SteamId);

        if (CurrentCharacter != null)
        {
            // Log.Info($"Welccome back {CurrentCharacter.FirstName + CurrentCharacter.LastName}");
        }
    }

    private void SwitchScreen(Screen screen)
    {
        currentScreen = screen;
    }

    public void CreateCharacter()
    {
        if ( string.IsNullOrWhiteSpace(FirstNameEntry.Value) || 
            string.IsNullOrWhiteSpace(LastNameEntry.Value) || 
            string.IsNullOrWhiteSpace(AgeEntry.Value?.ToString()) || 
            string.IsNullOrWhiteSpace(GenderEntry.Value?.ToString()) )
        {
            // Log.Info("Fill in the entries!");
            return;
        }
        else
        {
            var data = new PlayerData()
            {
                FirstName = FirstNameEntry.Value,
                LastName = LastNameEntry.Value,
                Age = AgeEntry.Value.ToInt(),
                Gender = GenderEntry.Value?.ToString(),
            };

            PlayerData.Save(data, Game.SteamId);
            SwitchScreen(Screen.Menu);
        }
    }

    public void LoadCharacter()
    {
        if (CurrentCharacter != null)
        {
            Session.PendingCharacter = CurrentCharacter;
            Scene.LoadFromFile("scenes/main.scene");
            // Log.Info("Transfered Current Character to Static Pending Character");
        }
        else
        {
            return;
        }

    }
}